body{
    width:100%;
    height:100%; 
    font-size:10px!important;
 }
 .head_box{
     width:100%;
     height: 55rem;
     overflow: hidden;
     position: relative;
 }
 .head{
     width:100%;
 }
 .banner{
     width: 100%;
     height:100%;
 }
 .banner img{
     width: 100%;
     height: 100%;
     background-size: 100%;
 }
 .head_box .head{
     width:100%;
     height: 5rem;
     background: rgba(0,0,0,0.6);
     position: absolute;
     top:0;
     line-height: 5rem;
     z-index:1;
     padding:0 15%;
     box-sizing: border-box;
 }
 .dv_l{
     float:left;
 }
 .dv_l img{
     width: 10rem;
     height: 2.5rem;
     display: line-block;
 }
 .dv_r{
     float:right;
 }
 .dv_r img{
     width: 2rem;
     height: 2rem;
     display: inline-block;
     vertical-align: sub;
     margin-right:1rem;
 }
 .dv_r span{
     width: 14rem;
     height: 2rem;
     font-family: ArialMT;
     font-size: 2rem;
     font-weight: normal;
     font-stretch: normal;
     letter-spacing: 0rem;
     color: #ffffff;
 }
 .head ul{
     display:flex;
     margin:0 auto;
     height: 100%;
 }
 .head ul li{
     flex:1;
     text-align: center;
 
 }
 .head ul li a{
     font-family: MicrosoftYaHei;
     font-size: 1.5rem;
     color: #ffffff;
 }
 .head ul li  i{
     background:url(../image/index/nav_j.png) no-repeat;
     width: 1rem;
     height: .7rem;
     background-size: 100% 100%;
     display: inline-block;
     margin-left:.5rem;
 }
 .actives_bot{
     border-bottom:2px solid #2992F4;
 }
 .li_hideBox{
    width: 15rem;
	height: 18rem;
    background: rgba(0,0,0,0.6);
    position: absolute;
    /* top:5rem; */
    /* left:28.5%; */
    /* margin-left:; */
    padding-top:.5rem;
    box-sizing: border-box;
    display:none;
}
.li_hideBox span{
    height: 3rem;
    line-height: 3rem;
    padding-left:2rem;
    box-sizing: border-box;
    display: block;
    text-align: left!important;
}
.li_hideBox span a{
    font-family: MicrosoftYaHei;
	font-size: 1rem!important;
	/* color: #057fef; */
	color: #fff;
}
.li_hideBox_active{
    color:#057fef;
    background: #434444;
}
.li_hideBox span>b{
    background: url(../image/index/news.png) no-repeat;
    width: 1rem;
    height: 1rem;
    background-size: 100% 100%;
    display: inline-block!important;
    margin-right:.5rem;
    opacity: 0;
}

/* foot */
.foot{
    background: #2F2F2F;
    padding:2rem 22%;
    box-sizing: border-box;
    display:flex;
}
.foot div{
    flex:1;
    color:#fff;
}
.foot div h3{
    font-size:1.5rem;
}
.foot div p{
    font-size:1.1rem;
    margin-top:.5rem;
    color: #A4A4A4;
}
.foot_title{
  background:#0A0A0A;
  color:#fff;
  height: 4rem;
  width:100%;
  line-height: 4rem;
  text-align: center;  
}
.foot_title p{
    margin:0!important;
}
#codes{
    width: 9rem;
    height: 9rem;
    background-size: 100% 100%;
    margin-top:1rem;
}
iframe{
    position: absolute;
    top:0;
    height:100%;
    z-index:100;
    border:none;
}