.level{
    padding:3rem 20%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.head_box{
    height: 35rem!important;
}
.banner_title{
    position: absolute;
    width:100%;
    text-align: center;
    top:30%;
    color:#fff;
}
.banner_title p:nth-child(1){
    font-family: MicrosoftYaHei-Bold;
	font-size: 3.5rem;
}
.banner_title p:nth-child(2){
    font-family: MicrosoftYaHei;
    margin-top:1rem;
	font-size: 2rem;
}
h4{
    width:100%;
    text-align: center;
    font-family: MicrosoftYaHei;
    color:#666666;
    font-size:2rem;
}
.lines{
    width:8rem;
    height: .3rem;
    display: block;
    background: #9b9b9b;
    margin:1rem auto;
}
.level1{
    background:url(../image/datalake/shujuhu_bg_02.jpg) no-repeat;
    width:100%;
    height: 32rem;
    background-size: 100% 100%;
    padding-top:3rem;
    box-sizing: border-box;
}
.level1_box{
    width:100%;

    display:flex;
    margin-top:3rem;
}
.level1_box div{
    flex:1;
}
.level1_box div img{
    width: 12rem;
    height: 10rem;
    background-size: 100% 100%;
    display: block;
    margin:0 auto;
}
.level1_box div p{
    font-family: MicrosoftYaHei;
    font-size: 1.2rem;
    text-align: center;
    color: #323232;
    margin-top:3rem;
}
.level2{
    margin-top:3rem;
}
.level2_box{
    width:100%;
    padding:0 12%;
    box-sizing: border-box;
    height: 30rem;
}
.level2_box img{
    width:100%;
    height:100%;
    background-size: 100% 100%;
}
.level3{
    background: #f0f0f0;
    width:100%;
    padding-top:3rem;
    padding-bottom:5rem;
    box-sizing: border-box;
}
.level3_box{
    /* padding:0 20%; */
    width:100%;
    height: 20rem;
    box-sizing: border-box;
    margin-top:3rem;
}
.level3_box img{
    width:42%;
    float:left;
    height:100%;
    background-size: 100% 100%;
}
.level3_box .box_r{
    float:left;
    width:55%;
    margin-left:3%;
}
.level3_box .box_r h3{
    font-family: MicrosoftYaHei-Bold;
    font-size: 1.5rem;
    color: #4285f4;
}
.level3_box .box_r p{
    font-family: MicrosoftYaHei;
    font-size: 1rem;
    color: #333333;
    margin:1.5rem 0;
}