article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,label,input,select,textarea,button,th,td,menu,figure,svg,g{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;vertical-align:middle;font-weight:400;}
ul,dl,ol{list-style:none;margin:0;padding:0;}
img,fieldset{border:0 none;outline:0 none;}
img{display:inline-block;overflow:hidden;vertical-align:middle;}
em{font-style:normal;}
strong{font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}

input,textarea,select{-webkit-appearance:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);outline:none;}
input{border:0 none;}
::-webkit-input-placeholder{color:#d0d6e2;}
textarea{word-wrap:break-word;resize:none;}  /* word-wrap for opera, resize for webkit */
select{border: 0 none;}
select::-ms-expand{display:none;}
::-ms-check {display:none;}
::-webkit-inner-spin-button {-webkit-appearance:none;}
::-webkit-outer-spin-button {-webkit-appearance:none;}
input[type="number"]{-webkit-user-select:text;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none!important;margin:0;}
button,input[type="button"]{cursor:pointer;border:0 none;}

a,button,input,img{-webkit-touch-callout:none;}  /* 1.ios 长按时不触发系统的菜单 2.禁止长按时下载图片 */
/* 去除android4.0以下 a/button/input标签被点击时产生的边框 因为边框引起了不少bug */
a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
/* Android4.0下不识别选择器-webkit-transform-3d 使用它可做Android4.0下版本兼容 */
@media all and (-webkit-transform-3d){
    /* android4.0+ ios4+ 恢复按钮被点击时产生的效果 */
    a,button,input{-webkit-tap-highlight-color:rgba(130,130,130,0);}
}
a{outline:0 none;text-decoration:none;color:#40BCE8;cursor:pointer;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
a,a:visited{color:transparent;}

html,body{height:100%;}
body{-webkit-user-select:none;-webkit-text-size-adjust:none;font-family:Helvetica;}
.hide{display: none!important;}
.line-though{text-decoration: line-through;}
.underline{text-decoration: underline;}
.red{color: #ff4342!important;}
.green{color: #1aad0a!important;}
.gray{color: #96989c!important;}
.bg-pink{background: #e1007a!important;}
.bg-blue{background: #5071ff!important;}
.bg-red{background: #ff4342!important;}
.bg-yellow{background: #fdb21b!important;}
.bg-green{background: #1bad0a!important;}
.bg-gray{background: #ccc!important;}
.bg-lightblue{background: #06a3f6!important;}
.bg-lightorange{background: #fd961c!important;}
.bg-lightpink{background: #9f65c8!important;}

/* 清除浮动 */
.clearfix:after{content:".";clear:both;display:block;height:0;line-height:0;font-size:0;visibility:hidden;}
.clearfix{zoom:1;}


